.profile{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  background-image: url('../../public/flat-lay-hat-notebook-arrangement.jpg');
  background-size: cover;
  text-align: center;
  min-height:100vh;
  margin:0;
  padding:0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.main{
    justify-content:center;
    color:aliceblue;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

.auth{
    float: right;
    font-size: 50px;
    font-size:30px;
}

.search-form {
    max-width: 400px;
    margin: 80px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='number'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .prof{
    min-height: 800px;
  }
  