.App {
  background-image: url('C:\Users\CVR\Desktop\journeyease\Journeyease\frontend\public\flat-lay-hat-notebook-arrangement.jpg');
  background-size: cover;
  text-align: center;
  min-height:100vh;
  margin:0;
  padding:0;
}

.App-header {
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
