.App {
  text-align: center;
  height:100%;
  margin:0;
  padding:0;
}

.App-header {
  background-image: url('C:\Users\CVR\Downloads\flat-lay-hat-notebook-arrangement.jpg');
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
